<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ selectedGenre | titlecase }}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="onChangeView()">
    <ion-segment-button value="own" checked>Library</ion-segment-button>
    <ion-segment-button value="search" disabled>Online</ion-segment-button>
  </ion-segment>


  <ion-grid *ngIf="showOwnGenres">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text *ngFor="let book of booksInGenre">{{book.title}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>